python-dotenv>=1.0.1
pydantic>=2.8.2
streamlit>=1.36.0
rich>=13.7.1
markdownify>=0.13.1
pdfminer.six>=20240706
pymupdf>=1.24.9
rank-bm25>=0.2.2
chromadb>=0.5.5
sentence-transformers>=3.0.1
scikit-learn>=1.5.1
numpy>=1.26.4
pandas>=2.2.2
matplotlib>=3.9.0
fastapi>=0.112.0
uvicorn[standard]>=0.30.3
sqlite-utils>=3.36
cohere>=5.8.2
ollama>=0.3.0
